$('#list_<%= @list.id %>').fadeOut();
$("[class^=listing list-view]").remove();
$("[class^=pagination clearfix]").html("<div class='message success'><h3>Success!</h3><p>Task list <%= @list.name %> was deleted.</p></div><div class='message info'><h3>Information</h3><p>Please choose another task list.</p><div>");