<div class="main-content grid_4 alpha"  id="todolists">
    <header>
        <ul class="action-buttons clearfix fr">
            <li><a href="calendar.html" class="button button-gray no-text" title="View the Task Calendar"><span class="calendar"></span></a></li>
            <li><a href="documentation/index.html" class="button button-gray no-text help" rel="#overlay"><span class="help"></span></a></li>
        </ul>
        <div class="view-switcher">
            <h2>All Tasks <a href="#">&darr;</a></h2>
            <ul>
                <li><a href="#">All Tasks</a></li>
                <li><a href="#">All Tasks Today</a></li>
                <li><a href="#">All Tasks Tomorrow</a></li>
                <li class="separator"></li>
                <li>Recently done...</li>
                <li class="separator"></li>
                <li><a href="#">Yesterday</a></li>
                <li><a href="#">Last Week</a></li>
            </ul>
        </div>
    </header>
    <section>
        <ul class="listing list-view">
            <li class="tick">
                <a class="more" href="taskdetails.html">&raquo;</a>
                <span class="timestamp">Dec 28, 2010</span>
                <a href="#">Today</a>
                <p>Cras egestas vestibulum nisl, nec eleifend nunc pulvinar non.</p>
            </li>
		<% @list.todolists.each do |todolist| %>
		<%if !todolist.id %>
			<%break%>
		<% end %>
            <li class="calendar">
                <a class="more" href="/todolists/<%= todolist.id %>" >&raquo;</a>
                <span class="timestamp"><%= todolist.duedate %></span>
                <a href="#">Tomorrow</a>
                <p><%= todolist.title %></p>
            </li>
		<% end %>
        </ul>
        <ul class="pagination clearfix">
            <li><a href="#" class="button-blue">&laquo;</a></li>
            <li><a href="#" class="current button-blue">1</a></li>
            <li><a href="#" class="button-blue">2</a></li>
            <li><a href="#" class="button-blue">3</a></li>
            <li><a href="#" class="button-blue">&raquo;</a></li>
        </ul>
    </section>
</div>
	